---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Impressum"
	description=""
	pubDate={new Date('July 25 2024')}
	heroImage="/Datenschutz.jpg"
>
	<h2>Angaben nach § 5 Telemediengesetz (TMG)</h2>
<br><br>
<h4>Anschrift:</h4>
	Die Praxis für Frauen - Dagmar Roßner <br>
	Leipziger Straße !!!<br>
	14929 Treuenbrietzen<br>
<br>
<h4>Träger</h4>
	Die Praxis für Frauen - Dagmar Roßner bzw. die Richtige Bezeichung des Unternehmens<br>
<br>

<h4>Ärztliche Leitung und inhaltliche Verantwortliche gem.§55 II RStV:</h4>
	Dr. med. Dagmar Roßner <br>
	Die Praxis für Frauen - Dagmar Roßner <br>
	Leipziger Straße !!!<br>
	14929 Treuenbrietzen<br>
<br>
<h4>Gesetzliche Berufsbezeichnungen:</h4>
	Ärzte (Fachärzte für Allgemeinmedizin / Innere Medizin / in Weiterbildung zum FA für Allgemeinmedizin) //!! Anpassen<br>
<br>
<h4>Kontakt:</h4>
	Tel: (+49) 33748 15597<br>
	Fax: ???<br>
	E-Mail: ???<br>
	Webseite: https://frauenarzt-dr-dagmar-rossner.de/<br>
	Staat: Bundesrepublik Deutschland<br>
<br>
<h4>Aufsichtsbehörden:</h4>
	zuständige Ärztekammer:<br>
	Bayerische Landesärztekammer<br>
	Mühlbaurstrasse 16<br>
	81677 München<br>
	http://www.blaek.de<br>
<br>
<h4>zuständige Kassenärztliche Vereinigung:</h4>
	Kassenärztliche Vereinigung Bayern<br>
	Elsenheimerstr. 39<br>
	80687 München<br>
	Tel: (089) 57093-0<br>
	http://www.kvb.de<br>
<br>
<h4>Bezeichnung der berufsrechtlichen Regelungen:</h4>
	Berufsordnung der Landesärztekammer Bayern (http://www.blaek.de)<br>
	Weitere Hinweise zum Haftungsausschluss finden Sie auf der Seite Datenschutz.<br>
	Zudem weisen wir hiermit ordnungsgemäß darauf hin, dass wir als niedergelassene Ärzte bei Streitfragen nicht gesetzlich zu einem außergerichtlichen Streitbeilegungsverfahren verpflichtet sind (nach §36 VSBG „Gesetz über die alternative Streitbeilegung in Verbrauchersachen“).

</Layout>