---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Banner from '../components/Banner.astro'
import AboutMe from '../components/About.astro';
import LeftLine from '../components/h-line-left.astro';
import RightLine from '../components/h-line-rigth.astro';
import Vorsorge from '../components/Vorsorge.astro';
import Slider from '../components/CardSlider.astro';
import SliderDesktop from '../components/CardSliderDesktop.astro';
import Emsella from '../components/Emsella.astro';
import Emsella2 from '../components/Emsella2.astro';
import Oeffnungszeiten from '../components/oeffnungszeiten.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Map from '../components/Map.astro';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Banner />
		<AboutMe />
		<RightLine />
		<Oeffnungszeiten />
		<LeftLine />
		<Map />
		<RightLine />
		<Slider />
		<SliderDesktop />
		<LeftLine />
		<Vorsorge />
		<RightLine />
		<Emsella2 />
		<Footer />
	</body>
	<body>
	<div class="video-split">
		<div class="text">
			#### Warum ist die gynäkologische Vorsorge wichtig?

			Die regelmäßige Vorsorgeuntersuchung dient nicht nur der Früherkennung von Krebserkrankungen, wie Gebärmutterhalskrebs, Eierstockkrebs oder Brustkrebs, sondern auch der Überprüfung Ihrer allgemeinen gynäkologischen Gesundheit. Viele gynäkologische Erkrankungen verlaufen zunächst symptomlos und können erst durch eine gründliche Untersuchung erkannt werden. Je früher eine Erkrankung festgestellt wird, desto besser sind die Behandlungsmöglichkeiten und Heilungschancen.

		</div>
		<div class="video">
			<video controls>
				<source src="/public/Video/ImpfungenSpritzen.mp4" type="video/mp4">
				Dein Browser unterstützt dieses Video-Format nicht.
			</video>
		</div>
	</div>
	</body>
</html>

<style>
	.video-split {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.video {
		display: flex;
		justify-content: center;
		width: 30%;
		padding-left: 20px;
		padding-right: 20px;
		video {
			width: 100%;
		}

	}
	.text {
		display: flex;
		text-align: justify;
		width: 70%;
		padding-left: 20px;
		padding-right: 20px;
	}

</style>