---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LeftLine from '../components/h-line-left.astro';
import RightLine from '../components/h-line-rigth.astro';
import CenterLine from '../components/h-line-center.astro';
import Map from '../components/Map.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <Header />
	<body class="body">
        <div class="container">
            <div class="zeiten">
                <p class="header-serif">Öffnungszeiten</p>
                <p class="header-serif-mobile">Öffnungszeiten</p>
                <div class="time-row">
                    <span>Montag</span>
                    <span>08:00-12:00</span>
                </div>
                <div class="time-row">
                    <span>Dienstag</span>
                    <span>08:00-12:00, 14:00-18:00</span>
                </div>
                <div class="time-row">
                    <span>Mittwoch</span>
                    <span>08:00-12:00</span>
                </div>
                <div class="time-row">
                    <span>Donnerstag</span>
                    <span>08:00-12:00, 14:00-18:00</span>
                </div>
                <div class="time-row">
                    <span>Freitag</span>
                    <span>08:00-12:00</span>
                </div>
            </div>
            <div class="text-container">
                <p class="header-serif">Terminvergabe</p>
                <p class="header-serif-mobile">Terminvergabe</p>
                <p>Die Terminverhabe erfolgt telefonisch bei meinem Praxisteam unter:<br>
                    <a href="tel:+493374815597">033748 15597</a>
                </p>
            </div>
        </div>
        <CenterLine />
        <Map />
		<Footer />
	</body>
</html>

<style>
    .body {
        width: 80%;
        margin-left: 10%;
    }
    .header-serif {
        font-weight: 200;
        color: var(--accent);
    }
    .header-serif-mobile {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: row;
        margin-top: 5vh;
        width: 80%;
        margin-left: 10%;
        gap: 30px;
    }
    .container-map {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        width: 80%;
        margin-left: 10%;
    }
    .text-container {
        width: 50%;
        margin-left: 2%;
        p {
            margin-top: -2%;
        }
    }
    .zeiten {
        width: 50%;
        margin-bottom: 2.5%;
        height: auto;
    }
    .time-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2px;
    }
    @media (max-width: 1050px) {
        .header-serif {
            display: none;
        }
        .container {
            display: flex;
            flex-direction: column;
        }
        .container-map {
            display: flex;
            flex-direction: column;
        }
        .text-container {
            width: 100%;
            margin-left: 0%;
            margin-top: 5px;
            p {
                margin-top: -5px;
            }
        }
        .zeiten {
            width: 100%;
        }
        .header-serif-mobile {
            display: contents;
        }
    }

</style>