<div class="container">
    <img class="banner" src="/banner.png">
    <div class="text-overlay">
        <span class="smal-text">Dr. Dagmar Roßner</span><br>
        <span class="huge-text">...für das Wohl der Frau</span>
    </div>
</div>

<style>
    .container {
        position: relative;
        display: inline-block; 
    }

    .banner {
        border-radius: 0;
        display: block; 
    }

    .text-overlay {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        text-align: center; 
        color: white; 
        padding: 10px;
    }

    .smal-text, .huge-text {
        font-family: "Inria Serif", serif;
        color: white;
        display: block;
    }

    .smal-text {

        font-size: 3vw; 
        margin-top: 3vw; 
    }

    .huge-text {
        font-size: 5vw; 
    }

    @media (max-width: 720px) {
        .container {
            width: 100%;
        }
        .text-overlay {
            margin-top: 4.5vh;
        }
        .smal-text, .huge-text {
            display: none;
        }
    }
</style>