<div class="container">
    <div class="left">
        <p class="header-serif">Inkontinenz - Emsella</p>
        <p class="header-serif-mobile">Inkontinenz - Emsella</p>
        <p>Einige unserer Patientinnen leiden nach einer Geburt oder in Zuge der Wechseljahre an 
            den Folgen einer geschwächten Muskulatur im Beckenboden und geminderter Kontinenz 
            (Inkontinenz). Einige Symptome davon sind:
            Inkontinenz,
            Blasenschwäche,
            Chronische Schmerzen,
            Sexuelle Probleme.
        </p>
        <div class="more">
            <a href="/blog/gyn/">Mehr erfahren</a>
        </div>
    </div>
    <div class="right-emsella">
        <img alt="Bild Emsella" src="/EmsellaStuhlNah.JPG" alt="Emsella">
    </div>
</div>

<style>
    .more {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .right-emsella {
        width: 60%;
        opacity: 0;
        transition: opacity 1.5s ease;
    }
    .header-serif {
        font-weight: 200 !important;
    }
    .header-serif-mobile {
        display: none;
    }
    @media (max-width: 720px){
        .container {
            flex-direction: column;
        }
        .left {
            width: 90%;
        }
        .header-serif {
            display: none;
        }
        .header-serif-mobile {
            display: contents;
            font-weight: 600 !important;
        }
        .right-emsella {
            margin-top: 2vh;
            width: 100%;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const options = {
            root: null,
            rootMargin: '0px',
            threshold: 0.3
        };

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('animate-slide-in-right');
                    observer.unobserve(entry.target);
                }
            });
        }, options);

        const target = document.querySelector('.right-emsella');
        if (target) {
            observer.observe(target);
        }
    });
</script>
