
<footer>
    <div class="footer-content">
        <div class="footer-line left"></div><br>
        <div class="footer-line short left" style="top: calc(50% + 5px);"></div>
        <img src="/logo.AVIF" alt="Logo">
        <div class="footer-line short right" style="top: calc(50% + 5px);"></div>
        <div class="footer-line right"></div>
    </div>
    <div class="footer-link">
        <a href="#">Impressum</a>
        <a style="text-decoration: none;" href="#">&</a>
        <a href="#">Datenschutz</a>
    </div>
</footer>

    <style>
        footer {
            text-align: center;
            margin-top: 20px;
        }
        .footer-content {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
        }
        .footer-line {
            position: absolute;
            width: 40%;
            border-top: 3px solid #B5A89F;
            top: 50%;
            border-radius: 10px;
        }
        .footer-line.short {
            width: 30%;
        }
        .footer-line.left {
            left: 0;
        }
        .footer-line.right {
            right: 0;
        }
        .footer-content img {
            height: 80px;
            z-index: 1; 
            background-color: white; 
            padding: 0 10px;
        }
        .footer-link {
            text-align: center;
            margin-top: 10px;
            color: black;
            margin-bottom: 5vh;
        }
        .footer-link a {
            color: black;
            font-weight: 100;
            font-size: 15pt;
        }
    </style>
