<div class="container">
    <hr class="h-line-left">
    <hr class="h-line">
</div>

<style>
    .h-line {
        border: none;
        border-top: 3px solid var(--accent);
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 70%; 
        margin: 10vh 0; 
        border-radius: 10px;
    }

    .h-line-left {
        width: 30%;
        border-top: 3px solid white;
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 30%; 
        margin: 10vh 0; 
    }

    .container {
        display: flex;
        flex-direction: row;
    }
</style>