<div class="container-map">
    <p class="header-serif">Anreise</p>
    <p class="header-serif-mobile">Anreise</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4901.889848474026!2d12.865856263593775!3d52.09893391684938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a886c6a6501d7f%3A0x3cccc5488457db22!2sPraxis%20f%C3%BCr%20Frauen%20Dr.%20med.%20Dagmar%20Ro%C3%9Fner!5e0!3m2!1sde!2sno!4v1733903148086!5m2!1sde!2sno" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<style>
    .container-map {
        display: flex;
        flex-direction: column;
        /* margin-top: 5vh; */
        width: 80%;
        margin-left: 10%;
    }

    .header-serif {
        font-weight: 200;
        margin-bottom: 1vh;
    }
    .header-serif-mobile {
        display: none;
    }

    @media (max-width: 720px) {
        .header-serif {
            display: none;
        }
        .header-serif-mobile {
            display: block;
            padding-bottom: 1vh;
        }
    }
</style>