<div class="container">
    <div class="left">
        <div class="text-background">
            <div class="text-padding">
                <p class="header-serif">Gynäkologische Vorsorge</p>
                <p class="header-serif-mobile">Gynäkologische Vorsorge</p>
                <p>Die gynäkologische Vorsorge spielt eine entscheidende Rolle, um die
                    Gesundheit der Frau in jedem Lebensabschnitt zu schützen. Regelmäßige
                    Untersuchungen ermöglichen es, mögliche Erkrankungen frühzeitig zu erkennen
                    und rechtzeitig zu behandeln. In unserer Praxis legen wir großen Wert darauf,
                    Sie umfassend zu betreuen und auf Ihre individuellen Bedürfnisse einzugehen.
                </p>
            </div>
        </div>
    </div>
    <div class="right">
        <img class="vorsorgeImg" alt="Bild Vorsorge" src="/VorsorgeLanding4.JPG">
    </div>
</div>

<style>
    .vorsorgeImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom; /* Bild wird unten ausgerichtet, überschüssiger Teil wird oben abgeschnitten */
        border-radius: 0;
        overflow: hidden;
    }

    .header-serif-mobile {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch; /* Sorgt dafür, dass beide Seiten die gleiche Höhe haben */
        height: auto; /* Automatische Höhe, passt sich an den Inhalt an */
    }

    .left {
        width: 60%;
        background-color: var(--accent);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left .text-background {
        background-color: white;
        width: 95%;
        margin: 5% 0;
    }

    .text-padding {
        margin: 4vw;
    }

    .header-serif {
        text-align: center;
    }

    .right {
        width: 40%;
        background-color: var(--accent);
        display: flex;
        justify-content: flex-end;
        align-items: center; /* Stellt sicher, dass das Bild vertikal gestreckt wird */
        overflow: hidden;
    }

    @media (max-width: 820px) {
        .container {
            width: 100%;
            flex-direction: column;
        }
        .header-serif {
            display: none;
        }
        .header-serif-mobile {
            display: contents;
        }
        .left {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .right {
            width: 100%;
            img {
                padding: 2%;
            }
            background-color: white;
        }
        .text-background {
            padding: 0 !important;
        }
    }

    @media (min-width: 720px) {
        .right img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            border-radius: 0;
        }
    }
</style>
